.git
.yarn/cache
.yarn/install-state.gz
node_modules
# Mantener node_modules fuera del contexto para reducir tamaño inicial
packages/*/node_modules
# Permitimos src y plugins para que el build de frontend funcione
*.local.yaml
